﻿@model ImageOTheDay.Models.CallbackModel

<div ng-app="pageoftheday">
    <div ng-controller="FrameController">
        
        <h4 ng-show="user && usermessage">{{user}} said "{{usermessage}}"</h4>
        <h4 ng-show="user && !usermessage">{{user}} posted:</h4>
        <div ng-show="image">
            <img class="fitscreen" ng-src="{{currentProjectUrl}}" seamless="seamless" />
        </div> 
        <div ng-show="video">
            <video autoplay="" loop="" style="max-width: 100%;"><source type="video/mp4" ng-src="{{currentProjectUrl}}"></video>
        </div>
    </div>
</div>


<script type="text/javascript">
    (function() {
        window.configuration = {
            callback: '@Model.CallbackUrl',
            id: '@Model.Id'
        };
    })();
</script>
<script type="text/javascript" src="/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript" src="/Scripts/jquery.signalR-2.2.2.js"></script>
<script type="text/javascript" src="/signalr/hubs"></script>
<script src="/Scripts/angular.min.js"></script>
<script src ="/app/app.js"></script>
<script src="/app/services/callback.js"></script>
<script src="/app/services/signalr.js"></script>
<script src="/app/controllers/frame.js"></script>